body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    178.6deg,
    rgb(20, 36, 50) 11.8%,
    rgb(124, 143, 161) 83.8%
  );
}

#weatherContainer {
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border: 2px solid #ffffff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  font-family: "Poppins", serif;
  background: #0b111d;
}

header {
  border-bottom: 1px solid #dddcdfd0;
  padding: 0 0 30px 0;
}

a {
  color: #dac4fc;
}

.search-input {
  background-color: #0b111d;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  color: #f8f7fc;
  font-size: 15px;
  border: 2px solid #ffffff;
}

.search-input::placeholder {
  color: #dddcdfd0;
  opacity: 1;
}

.submit-btn {
  background: #dac4fc;
  padding: 15px 30px;
  margin-left: 5px;
  border: none;
  border-radius: 6px;
  color: #0b111d;
  font-size: 15px;
  cursor: pointer;
}

.week-forecast {
  background: #202c3c;
  height: 150px;
  border-radius: 16px;
}

.air-conditions {
  background: #202c3c;
  height: 120px;
  border-radius: 16px;
}

main {
  padding: 30px 0;
}

#weatherData {
  display: flex;
  justify-content: space-between;
}

.city-name {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #f8f7fc;
}

.city-info {
  font-size: 16px;
  line-height: 20px;
  color: #dddcdfd0;
}

.forecastHeading {
  font-size: 15px;
  color: #f8f7fc;
  margin-left: 20px;
  padding-top: 20px;
  font-weight: 650;
}

.airHeading {
  font-size: 15px;
  color: #f8f7fc;
  margin-left: 20px;
  padding-top: 20px;
  font-weight: 650;
}

.air-conditions p {
  color: #f8f7fc;
  line-height: 20px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
}

.air-conditions strong {
  color: #dac4fc;
}

.air-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.temperature {
  display: flex;
}

.temp-data {
  display: flex;
  align-items: flex-start;
}

.weather-icon {
  width: 88px;
  height: 88px;
  /*margin-top: 10px;*/
}

.weather-temp {
  font-size: 88px;
  margin-left: 10px;
  line-height: 88px;
  font-weight: bold;
  color: #f8f7fc;
}

.weather-units {
  margin-top: 6px;
  font-size: 28px;
  color: #f8f7fc;
}

footer {
  border-top: 1px solid #dddcdfd0;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: #f8f7fc;
}
